$font-stack:    Helvetica, sans-serif;
$primary-color: white;

body {
  font: 100% $font-stack;
  background: $primary-color;
}



.fish-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img-flex{
	justify-content: center;
	display: block;
	height: 150px;
	width: 150px;
}

.my-container{
	margin-bottom: 10%;
}
